In [1]:
from datasets import load_dataset
dataset = load_dataset("sentence-transformers/stsb")

In [2]:
df_train = dataset['train'].to_pandas()
df_valid = dataset['validation'].to_pandas()
df_test = dataset['test'].to_pandas()

In [3]:
import pandas as pd
def get_last_word(sentence):
    return sentence.replace(".","").split()[-1]

filtered_df = df[df['sentence1'].apply(get_last_word) == df['sentence2'].apply(get_last_word)]

In [4]:
filtered_df

,sentence1,sentence2,score
0,A plane is taking off.,An air plane is taking off.,1.00
1,A man is playing a large flute.,A man is playing a flute.,0.76
2,A man is spreading shreded cheese on a pizza.,A man is spreading shredded cheese on an uncoo...,0.76
3,Three men are playing chess.,Two men are playing chess.,0.52
4,A man is playing the cello.,A man seated is playing the cello.,0.85
...,...,...,...
5714,All 224 dead in Russian airliner mystery crash,Heat flash detected at time of Russian airline...,0.40
5719,Boko Haram disrupts Nigerian elections,Press awash with Nigeria\'s general elections,0.20
5731,Ebola UK: NHS staff 'panicked' after suspected...,UK says investigating 2 suspected MERS cases,0.00
5732,UK Leader Signals Support for Airstrikes on IS...,Why Cyprus backs Cameron's push for UK air str...,0.20
5742,"France shuts mosque, arrests man in crackdown ...",Security tightened at New Delhi churches after...,0.40

In [3]:
import sys
local_path = "works/data0/yama11235/SAELens"
sys.path.insert(0, local_path)
from sae_lens import SAE, HookedSAETransformer
import torch

model = HookedSAETransformer.from_pretrained_no_processing("google/gemma-2-9b", n_devices=3, dtype=torch.bfloat16)

custom transformer_lens

Loading checkpoint shards:   0%|          | 0/8 [00:00<?, ?it/s]

google/gemma-2-9b
Loaded pretrained model google/gemma-2-9b into HookedTransformer